.flex{
  display: flex;
}
.fc{
  flex-direction: column;
}
.jc{
  justify-content: center;
}
.js{
  justify-content: space-between;
}
.ac{
  align-items: center;
}
.m0{
  margin: 0;
}
.p0{
  padding: 0;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 116px;
}
.socialIcons img{
  width: 32px;
  height: 32px;
}