:root{
  --light: #FFFFFF;
  --dark: #000000;
}
body{
  background-color: var(--light);
  font-family: 'Roboto', sans-serif;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.w100{
  width: 100%;
}
.fc{
  flex-direction: column;
}
.jc{
  justify-content: center;
}
.js{
  justify-content: space-between;
}
.ac{
  align-items: center;
}
.m0{
  margin: 0;
}
.p0{
  padding: 0;
}
.mb-48-80{
  margin-bottom: 80px;
}

.fade-in-top{
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}
.fade-in-left {
  opacity: 0;
  transform: translateX(20vw);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}
.fade-in-right {
  opacity: 0;
  transform: translateX(-20vw);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-right.is-visible, .fade-in-left.is-visible,.fade-in-top.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.headerNav{
  padding: 16px 0;
}
.header-mail{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.socialIcons img{
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}
/* .mainWrapper{
  position: relative;
} */
.modal-inner-menu{
  padding: 0 50px;
  height: 100vh;
  background-color: var(--light);
}
.closeBtnOuter{
  height: 100%;
  background-color: transparent;
}
.closeBtn{
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: var(--light);
}
.hamburgerMenu{
  position: fixed;
  top: 72px;
  z-index: 100;
  background-color: var(--light);
  height: calc(100vh - 73px);
  width: 117px;
  text-align: center;
}
.hamburgerMenu button{
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
}
.bsCanvas.offcanvas{
  max-width: 260px;
  background-color: transparent;
}
.bsCanvas .offcanvas-body{
  padding: 0;
}
.bsCanvas.offcanvas-start{
  border: none;
}
.socialWrapper  {
  position: fixed;
  top: 72px;
  z-index: 100;
  right: 0;
  height: calc(100vh - 73px);
  background-color: var(--light);
  width: 116px;
  text-align: center;
}
.socialIcons{
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
}
.menuContent{
  position: sticky;
  z-index: 50;
  top: 0;
  width: 100%;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 0;
  margin-bottom: -48px;
  border-bottom: 1px solid #eaeaea;
}
.menuContent li{
  display: flex;
  list-style-type: none;
  margin-right: 45px;
}
.menuContent li a{
  color: #1A1A1A;
  font-weight: 500;
  text-decoration: none;
}
.menuContent li a:hover{
  cursor: pointer;
}
.menuContent li:last-child{
  margin: 0;
}
.aboutSection{
  display: flex;
  padding-top: 78px;
}
.aboutImage{
  display: flex;
  margin-top: 20px;
}
.aboutImage img{
  box-shadow: 8px 8px 0 0;
}
.aboutRightContent{
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}
.aboutRightQuote h2{
  padding: 0;
  margin: 0;
  font-size: 60px;
}
.aboutRightContent p{
  margin: 36px 0 0 0;
}
.aboutRightContent .aboutRightHighlight{
  width: 440px;
  padding: 4px 8px;
  margin: 6px 0 0 30px;
  color: #fff;
  background-color: #000;
  text-align: center;
}
.aboutSkillSection{
  margin: 36px 0;
}
.aboutSkillSectionInnerOne{
  display: flex;
}
.aboutSkillSectionInnerTwo{
  display: flex;
  margin-top: 24px;
}
.aboutSkillDetailOne{
  display: flex;
  margin-right: 48px;
}
.aboutSkillDetailTwo{
  display: flex;
}
.aboutSkillDetailOne img, .aboutSkillDetailTwo img{
  display: flex;
  width: 56px;
  height: 56px;
  margin-right: 24px;
}
.aboutSkillDetail h4{
  display: flex;
}
.aboutResume{
  width: 148px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  border: none;
}
.aboutResume:hover{
  transition: all 300ms ease;
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.self-intro{
  font-family: 'Oswald', sans-serif;  
  font-size: 22px;
  line-height: 32px;
}
.educationSection{
  padding-top: 78px;
}
.educationSection .educationTitle{
  text-align: center;
  background-color: #000;
  margin: 0 0 50px 0;
  color: #FFF;
  width: 276px;
  height: 80px;
  padding: 4px 0;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.educationTimeline{
  display: flex;
  justify-content: space-between;
}
/* .educationTimeline .educationCards{
  margin-right: 30px;
} */
.educationInstitute h4{
    font-weight: bold;
    margin:  0 0 5px 0;
    line-height: 1;
}
.educationInstitute span{
  color: #808080;
}
.educationCards h2{
  font-size: 20px;
  margin: 16px 0;
  font-family: 'Oswald', sans-serif;
}
.educationCards p{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.projectSectionOuter{
  padding-top: 78px;
}
.projectSectionOuter .projectTitle{
  text-align: center;
  margin: 0 0 50px 0;
  background-color: #000;
  color: #FFF;
  width: 276px;
  height: 80px;
  padding: 4px 0;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projectSection{
  display: flex;
  justify-content: space-between;
  gap: 124px;
}
.projectSection img{
  max-width: 520px;
}
.projectDetailSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 42%;
}
/* .projectDetailFirst p{
  padding-right: 16px;
} */
.skillSection{
  margin-bottom: 88px;
}
.skillSection .skillsTitle{
  text-align: center;
  margin: 0 0 50px 0;
  background-color: #000;
  color: #FFF;
  width: 276px;
  height: 80px;
  padding: 4px 0;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skillCategory h2{
  margin: 16px 0;
}
.skillSectionInner{
  display: flex;
  align-items: center;
  border-left: 4px solid #000;
  padding-left: 16px;
  justify-content: space-between;
  margin-bottom: 28px;
  gap: 98px;
  height: 114px;
}
.skillSectionInner h2{
  min-width: 224px;
}
.skillSectionInner .skillCategory{
  display: flex;
  flex: 1;
  height: inherit;
}
.skillCategoryInner{
  min-width: 80px;
  margin-right: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
}
.skillCategoryInner h4{
  font-size: 16px;
  color: #808080;
}
.skillCategoryInner .skillPercentage span{
  border: 3px solid #000;
  border-radius: 50%;
  padding: 16px;
}
.footerProject{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  margin-bottom: 110px;
}
.footerProject h4{
  font-size: 22px;
}
.footerProject .footerProjectTalk a{
  padding: 4px 16px;
  font-size: 60px;
  /* margin: 6px 0 0 30px; */
  color: #fff;
  background-color: #000;
  text-align: center;
  text-decoration: none;
}
.footerMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerMainSocial img{
  margin-right: 48px;
}

@media screen and (max-width:768px){
  .hide-mob{
    display:none;
  }
  .mb-48-80{
    margin-bottom: 48px;
  }
  header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--light);
    border-bottom: 1px solid #eaeaea;
  }
  .aboutSection{
    flex-direction: column;
    padding: 0;
  }
  .aboutRightContent{
    margin: 24px 0 0 0;
  }
  .aboutRightQuote h2{
    font-size: 40px;
  }
  .aboutRightContent .aboutRightHighlight{
    width: 305px;
  }
  .aboutImage img{
    width: 100%;
  }
  .self-intro{
    font-size: 20px;
    line-height: 28px;
  }
  .aboutSkillSectionInnerOne, .aboutSkillSectionInnerTwo{
    justify-content: space-between;
  }
  .aboutSkillDetailOne, .aboutSkillDetailTwo{
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .aboutSkillSection h4{
    font-size: 18px;
    margin-top: 8px;
  }
  .projectSection{
    flex-direction: column;
    gap: 0;
    justify-content: initial;
  }
  .projectSection a:nth-child(odd){
    order: 1;
  }
  .projectSection a:nth-child(even){
    order: 1;
  }
  .projectDetailSection{
    max-width: 100%;
  }
  .educationTimeline{
    flex-direction: column;
  }
  .educationSection .educationTitle{
    margin: 0 0 28px 0;
  }
  .educationCards{
    margin-bottom: 24px;
  }
  .educationCards:last-child{
    margin-bottom: 0;
  }
  .educationCards h2{
    font-size: 18px;
    margin: 4px 0;
  }
  .educationSection ,.projectSectionOuter,.footerProject{
    padding-top: 48px;
  }
  .footerProject{
    margin-bottom: 64px;
  }
  .footerProject .footerProjectTalk a{
    font-size: 48px;
  }
  .header-mail{
    font-size: 16px;
  }
}
